* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f3f2ef;
}

main {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

/* General Styles */
a {
  text-decoration: none;
  color: blue;
}

.blue-500 {
  color: blue;
}

a:hover {
  text-decoration: underline;
}

b {
  font-weight: 500;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0.25rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

h4 {
  font-size: 1.125rem;
  font-weight: 500;
}

h5 {
  font-size: 1rem;
  font-weight: 500;
}

.h-line {
  border-bottom: 2px gainsboro solid;
  padding-bottom: 0.5rem;
}

/* Margin styles */
.mt-half-half {
  margin-top: 0.25rem;
}

.mt-half {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-half {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

/* Styles for profile image and banner */
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.profile {
  max-width: 175px;
  width: 100%;
  height: auto;
  border-radius: 0.325rem;
  align-self: flex-start;
}

.hide {
  display: none;
}

/* social links */
.ul-social-wrapper {
  margin-top: 1rem;
}

.ul-social {
  list-style-type: none;
}

.ul-social li {
  display: inline;
}

/* Styles for skills */
.skill-badge {
  border: 2px gray solid;
  border-radius: 6px;
  padding: 0.25rem;
  display: inline-block;
}

footer {
  color: gray;
  margin-bottom: 4rem;
}

@media only screen and (min-width: 640px) {
  .header-container {
    flex-direction: row;
    align-items: center;
  }

  footer {
    margin-bottom: 0;
  }
}
